


<!-- SWITCH to display content -->
<div class="container">
    <ul class="nav nav-tabs justify-content-center mb-5">
        <li [class.active]="viewMode == 'productManagement'"><a class="nav-link text-secondary" (click)="viewMode = 'productManagement'">Product Management</a></li>
        <li [class.active]="viewMode == 'discountManagement'"><a class="nav-link text-secondary" (click)="viewMode = 'discountManagement'">Discount Management</a></li>
    </ul>
    <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'productManagement'"><app-productmanagement></app-productmanagement></div>
    <div *ngSwitchCase="'discountManagement'"><app-discountmanagement></app-discountmanagement></div>
    </div>
    </div>